body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00e1ff6e), to(white));
  background-image: linear-gradient(to bottom right, #00e1ff6e, white);
}

.main-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
  mix-blend-mode: darken;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}
input {
  border: 1px solid #cccccc;
  padding: 8px;
}
button {
  border: 1px solid #aaaaaa;
  background: #888888;
  color: white;
  padding: 8px;
  cursor: pointer;
}
